 header {
     width: 100%;
     height: 54px;
     background-color: black;
     position: fixed;
     top: 0;
     left: 0;
     color: white;
     z-index: 1;
 }

 .logo {
     width: 100px;
     height: 100%;
     border: solid;
     position: absolute;
     border: none;
 }

 nav {
     width: 500px;
     height: 100%;
     border: solid;
     position: absolute;
     right: 0;
     border: none;
 }

 .kexc {
     width: 100%;
     height: 54px;

 }

 main {
     width: 100%;
     height: auto;
     background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg/1200px-La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;

 }

 .container {
     width: 100%;
     height: 100vh;
     background-color: red;
 }

 .stikey {
     margin-top: 100vh;
     background-color: rgba(255, 255, 255, 0.336);
     position: sticky;
     top: -670px;
 }

 li {
     position: absolute;
 }

 ul :nth-child(2) {
     left: 100px;
 }

 ul :nth-child(3) {
     left: 154px;
 }

 .box {
     width: 100%;
     height: auto;
     background-color: slateblue;
     position: sticky;
     top: 54px;

 }
.stikey:hover{
    opacity: .5;
 }